
<% if current_user %>
  <div>
  <ul class="account-menu" >
    <%= current_user.name %>
    <%= menu_link_to "ログアウト", :session,
      method: :delete, data: { confirm: "ログアウトしますか?" } %>
  </ul>
  </div>
<% end %>

<h1> Recorder app </h1>

<nav class="menubar">
  <ul>
    <%= menu_link_to "TOP" , :root %>
    <%= menu_link_to "ログイン", "#" %>
    <%= menu_link_to "記録" , "#" %>
  </ul>
</nav>
