
<% if current_user %>
  <div>
  <ul class="account-menu" >
    <%= "ようこそ"+current_user.name+"さん!"  %>
    <%= menu_link_to "ログアウト", :session,
      method: :delete, data: { confirm: "ログアウトしますか?" } %>
  </ul>
  </div>
<% end %>

<h1> Recorder app </h1>

<nav class="menubar">
  <ul>
    <%= menu_link_to "TOP" , :root %>
    <% if !current_user %>
     <%= menu_link_to "新規登録", :users %>
    <% end %>
    <%= menu_link_to "記録" , "#" %>
  </ul>
</nav>
