<% @page_title="記録一覧" %>
<h1> <%= @page_title %> </h1>

<div class="toolbar"> <%= link_to "新規登録" , :new_book %> </div>
<div class="toolbar"> <%= link_to "Google Bookからの追加" , :searches %> </div>


<% if @books.present? %>
  <table class="list" >
    <tr>
      <th > 画像 </th>
      <th>タイトル</th>
      <th>著者</th>
      <th>出版社</th>
      <th> 操作</th>
    </tr>
    <% @books.each do |book| %>
      <tr> 
        <td> <%= link_to( image_tag(book.file_url) , book )  %></td>
        <td> <%= book.title %> </td>
        <td> <%= book.author %> </td>
        <td> <%= book.publisher %> </td>
        
        <td>
          <%= link_to "詳細", book %>
          <%= link_to "編集", [:edit, book] %>
          <%= link_to "削除", book , method: :delete, 
            data: { confirm:  "本当に削除しますか?" } %>
        </td>

      </tr> 
    <% end %>
  </table>
<% else %>
  <p> 記録一覧がありません． </p>
<% end %>
