<% @page_title = "検索結果" %>

<h1> <%= @page_title %> </h1>

<%= form_tag :book_searches, method: :get, class: "search" do %>
  <%= text_field_tag "q" , params[:q] %>
  <%= submit_tag "検索" %>
<% end %>


<% if @books.present? %>
 
 <table class="list" >
    <tr>
      <th> 画像 </th>
      <th> タイトル</th>
      <th> 著者 </th>
      <th> 出版社</th>
      <th> 出版/発売日 </th>
      <th> 操作</th>
    </tr>
    <% @books.each_with_index  do |book,i| %>
    <tr>
      <% if book["volumeInfo"]["imageLinks"].present? and book["volumeInfo"]["imageLinks"]["smallThumbnail"].present? %>
        <td> <%= image_tag book["volumeInfo"]["imageLinks"]["smallThumbnail"] %></td>
      <% else %>
        <td> No Image </td>
      <% end %>
      <% if book["volumeInfo"]["title"].present? %>
        <td> <%= book["volumeInfo"]["title"] %></td>
      <% else %>
        <td> No title </td>
      <% end %>
      <% if book["volumeInfo"]["authors"].present? %>
        <td> <%= book["volumeInfo"]["authors"].join(' , ') %> </td>
      <% else%>
        <td> - </td>
      <% end %>
      <% if book["volumeInfo"]["publisher"].present? %>
        <td> <%= book["volumeInfo"]["publisher"] %> </td>
      <% else %>
        <td> - </td>
      <% end %>
      <% if book["volumeInfo"]["publishedDate"].present? %>
        <td> <%= book["volumeInfo"]["publishedDate"] %></td>
      <% else %>
        <td> - </td>
      <% end %>
      <td> <%= link_to "追加" ,  :controller => 'searches' , :action => 'edit'  , id: i , q: params[:q]   %> </td>
    </tr>
  <% end %>
  
  </table>

  <% else %>

  検索してください.
<% end %>

